includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    ignoreErrors:
    	-
    		message: '#Access to an undefined property Illuminate\\Foundation\\Auth\\User::\$email#'
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

